.form {
  margin: 0;
  padding: 35px;
}
.form input {
  outline: none;
  border: none;
  border-bottom: 1px solid #c7a4ff;
  width: 75%;
  font-size: 1.1rem;
}

.addBtn {
  padding: 10px 30px;
  background: #9575cd;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 3px;
  margin-left: 10px;
  border: 0;
}
