.plusBtn {
  font-size: 4em;
  position: absolute;
  top: 830px;
  left: 685px;
  color: #65499c;
  cursor: pointer;
}

.cancel {
  transform: rotate(45deg);
  transition: 0.125s all ease-in;

  color: #ff6b6b;
  cursor: pointer;
}
